{
    "presets": ["@babel/preset-react",
      ["@babel/preset-env", 
        {
          "targets": {
            "browsers": 
            [ "last 1 chrome version",
              "last 1 firefox version",
              "last 1 safari version"
            ]
          }
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-proposal-optional-chaining",
      "transform-react-pug",
      "transform-jsx-css-modules"
    ]
  }
  