//black
$black: #37393A;
$total-black: #000000;
$neutral-black: #212121;
//grey
$grey: #757879;
$dark-grey: #8B8B8B;
$medium-grey: #C5C8C9;
$light-grey: #EEEEEE;
//white
$white: #FFFFFF;
$snow: #F9F9F9;
//secondary color
$red: #E43B4E;
$orange: #FC8004;
$green: #03A800;
$tosca: #237A83;